* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 150%;
}

h1 {
  text-align: center;
  margin: 2rem 0rem;
}

#blogs_card_container {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  max-width: 1024px;
  margin: auto;
}

.post_card {
  margin: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.post_card img {
  width: 100%;
  height: auto;
  margin-bottom: 0.75rem;
}

.post_card h3 {
  margin-bottom: 0.5rem;
}

.blogs_parent_cont p {
  text-align: center;
  position: relative;
  margin: 2rem auto;
}

@media screen and (max-width: 525px) {
  #blogs_card_container {
    grid-template-columns: 100%;
    padding: 0;
  }
}
